body{
  background-color: #192839 !important;
   overflow: hidden;
}


.link{
  background: linear-gradient(124.63deg, #FFFFFF 29.57%, rgba(255, 255, 255, 0) 109.82%);
  
}



.semiCircle{
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    border-radius: 250px 250px 0 0;
    background-color: #2C3544;
}


.custom-link{
    transform: rotate(-30deg);
}
.admin-link{
    transform: rotate(-20deg);
}
.technical-link{
    transform: rotate(-10deg);
}


.arc2{
  /* width: 600px !important; */
  transform: rotate(3deg);
  /* width: 306px !important; */
  top: -52px !important;
  right: -181px !important;
  z-index: -9999 !important;
  /* display: none; */
}

.arc3{
  transform: rotate(90deg);
  width: 320px !important;
  top: 280px !important;
  right: 179px !important;
  /* top="300px" right="150px" */
}


.btmarc{
  transform: rotate(3deg);
  /* width: 900px !important; */
  position: absolute;
  top: 434px;
  left: -58px;
}

.toparc{
  transform: rotate(-1deg);
  position: absolute;
  bottom: 594px;
  left: -58px;
  width: 900px !important;
}


.circle5{
transform: rotate(180deg) !important;
bottom: -70px;
left:-12px;
width:930px !important;
}
.circle{
  transform: rotate(-1deg);
  position: absolute;
  top: -4px;
  width: 236px !important;
  left: -151px;
}
* { 
  position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}



html,
body {
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

body {
    background: #52be7f;
    color: #fff;
}

.link{
    background-image: linear-gradient(124.63deg, #FFFFFF 29.57%, rgba(255, 255, 255, 0) 109.82%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold ;
    cursor: pointer;
    /* font-size: 32px !important; */
}
