body{
  background-color: #192839 !important;

}


.link{
  background: linear-gradient(124.63deg, #FFFFFF 29.57%, rgba(255, 255, 255, 0) 109.82%);
  
}



.semiCircle{
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    border-radius: 250px 250px 0 0;
    background-color: #2C3544;
}


.custom-link{
    transform: rotate(-30deg);
}
.admin-link{
    transform: rotate(-20deg);
}
.technical-link{
    transform: rotate(-10deg);
}


.arc2{
  /* width: 600px !important; */
  transform: rotate(3deg);
  width: 306px !important;
  top: -52px !important;
  right: -181px !important;
  z-index: -9999 !important;

}
.circle{
  transform: rotate(-1deg);
  position:absolute;
   top:-2px;

   z-index: -99999;
  left:-165px
}
* { 
  position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

body {
    background: #52be7f;
    color: #fff;
}

.link{
    background-image: linear-gradient(124.63deg, #FFFFFF 29.57%, rgba(255, 255, 255, 0) 109.82%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
